---
layout: default
---

<div class="container markdown-body">
  <h1>{{ page.title }}</h1>
  <p>欢迎在下面留言，所有评论都会同步到 GitHub Issue 上。</p>

  <!-- Utterances 评论区 -->
  <div id="utterances_thread"></div>
  <script src="https://utteranc.es/client.js"
    repo="JW53111/jw53111.github.io"
    issue-term="pathname"
    label="Comment"
    theme="preferred_color_scheme"
    lang="en"
    crossorigin="anonymous"
    async>
  </script>
</div>

<style>
  /* 留言区额外样式，不影响文章正文 */
  #utterances_thread {
    margin-top: 40px;
  }
  .markdown-body h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  .markdown-body p {
    font-size: 17px;
    line-height: 1.9;
    color: #000;
  }
</style>
